*
{
    margin: 0 ;
    padding: 0;
    text-align: center;
}
table , tr , th ,td {
    /* border: 1px solid black; */
    padding: 1rem;
}
table{
    margin-left: auto;
    margin-right: auto;
}
#heading {
    background-color: black;
    color: #ffff;
    padding: 1rem;
    font-size: 5rem;
}
img{
    height: 300px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.scoreboard{
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.score{
    font-size: 2rem;
}
#msgbox{
    display: flex;
    justify-content: center;
}
#msg{
    color: #ffff;
    background-color: black;
    width: 300px;
    font-size: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2rem;
}